body{
    background-color: sandybrown;
    position: relative;
}
.form__login{
    border: 1px solid white;
    padding: 30px;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    top: 8rem;
    left:  35rem;
}
.error{
    color: red;
    font-weight: 600;
}
#error{
    color: red;
}