.nav{
    background-color: aqua;
    margin-bottom: 20px;
}
.nav_content{
    width: 100%;
    position: relative;
}
.nav_content h1{
    text-align: center;
    padding: 10px 0;
    color: saddlebrown;
}
.container { padding-top:10px}
.rounded { width:100px}
.img-thumbnail { width:80px!important}
#overlay {
    background: #ffffff;
    color: #666666;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 5000;
    top: 0;
    left: 0;
    float: left;
    text-align: center;
    padding-top: 25%;
    opacity: .80;
  }
.logout{
    position: absolute;
    top: 20px;
    right: 50px;
    display: flex;
}
.nameLogin{
    margin-top: 10px;
    margin-right: 20px;
}
