.nav{
    background-color: #E74C3C;
    opacity: .8;
    margin-bottom: 20px;
}
.nav_content{
    width: 100%;
    position: relative;
}
.nav_content h1{
    text-align: center;
    padding: 10px 0;
    color: white;
    outline: none;
    background-color: none;

}
.container { padding-top:10px}
.rounded { width:100px}
.img-thumbnail { width:80px!important;height: 80px;}
#overlay {
    background: #ffffff;
    color: #666666;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 5000;
    top: 0;
    left: 0;
    float: left;
    text-align: center;
    padding-top: 25%;
    opacity: .80;
  }
.logout{
    position: absolute;
    top: 15px;
    right: 50px;
    display: flex;
}
.nameLogin{
    margin-top: 10px;
    margin-right: 20px;
    color: white;
    font-size: 17px;
    font-weight: 600;
}
.btn-logout{
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 500;
}
.error{
    color: red;
    font-weight: 600;
}

